<!doctype html>
%html{:lang => "ja"} 
    %head 
        %meta{:charset => "UTF-8"}/ 
        %title Sinatra+Processing
        %script{:src => "js/jquery-2.1.0.min.js"} 
        %script{:src => "js/processing.js"} 
        %script{:src => "javascript/setProcessing.js"} 
    %body 
        %h1 sinatra+processing
        %canvas{:datasrc=>"pjs/sketch20141028.pjs",:id=>"processing-code",:type=>"application/processing"}
    